<!DOCTYPE html>
<html>
<head>
	<title>ATM</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<form class = "form-horizontal" role = "form" action="/withdraw" method="POST">
		<br />
		<input type="hidden" name="account_no" value="{{ account_no }}">
		<input type="hidden" name="pin" value="{{ pin }}">

	  	<div class = "form-group">
	      <label for = "amount" class = "col-sm-4 control-label">Account Number :</label>
			
	      <div class = "col-sm-4">
	         <p class = "form-control-static">{{account_no}}</p>
	      </div>
	   </div>

	   <div class = "form-group">
	      <label for = "amount" class = "col-sm-4 control-label">Available Amount :</label>
			
	      <div class = "col-sm-4">
	         <p class = "form-control-static">{{amount}}</p>
	      </div>
	   </div>


	  	<div class = "form-group">
	      <label for = "amount" class = "col-sm-4 control-label">Amount to withdraw :</label>
			
	      <div class = "col-sm-4">
	         <input type = "number" class = "form-control" id = "amount" placeholder = "Enter Amount" name="amount">
	      </div>
	   </div>

	   <div class = "form-group">
	      <div class = "col-sm-offset-4 col-sm-4">
	         <button type = "submit" class = "btn btn-default">Withdraw</button>
	      </div>
	   </div>
	</form>

	<p>
		{{#if error}}
	    	<li class="alert alert-danger col-sm-offset-4 col-sm-4">{{error}}</li>
		{{/if}}
	</p> 
</body>
</html>